# --- Podatki in baze ---
**/*.csv
*.xlsx
*.sqlite
*.log

# --- Arhivi in paketi (da ne bo spet errorjev nad 100MB) ---
*.zip
*.7z
*.rar
*.nupkg
*.msi

# --- Prevajanje in izvršljive datoteke ---
**/*.exe
*.dll
*.so
**/bin/
**/obj/
dist/
build/

# --- Node.js ---
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# --- Operacijski sistemi (smeti) ---
.DS_Store
Thumbs.db

# --- IDE / Urejevalniki ---
.vscode/
**/.idea/
*.swp

# --- ASP.NET / Web specifično ---
**/wwwroot/lib/