@page "/"

<PageTitle>Hotel FERI</PageTitle>
<h1>Hotel FERI - portal</h1>
<span>Portal za upravljanje z rezervacijami hotela FERI!</span>

<img src="/Images/hotel.png" alt="Hotel FERI" style="display:block; margin-top:20px; max-width:600px;" />
