<div class="alert alert-info">
    <h2>Sistemsko obvestilo</h2>
    <p>Prišlo je do napake pri obdelavi vašega zahtevka. Naša ekipa je bila obveščena.</p>
    <a href="/Safe/Index" class="btn btn-primary">Nazaj na varno stran</a>
</div>